body {
  margin: 0 150px;
}

.light-coffee {
  color: #cca677;
}

.dark-coffee {
  color: #6f4e37;
}

/* navbar styles */
.navbar {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-line {
  border-bottom: 1px solid #d3d3d3;
  margin: 0px 60px;
  padding-top: 20px; /* Increase the top padding */
  padding-bottom: 10px; /* Increase the bottom padding */
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}

/* homepage styles */
.home {
  padding: 10%;
  text-align: center;
}

.home-title {
  font-size: 4em;
  font-weight: bold;
}

.home-image {
  width: 80%;
  height: auto;
  margin: 30px 10px;
}

#btn-explore,
#btn-quiz {
  padding: 20px 50px;
  font-size: 2em;
  font-weight: bold;
  background-color: #cca677;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#btn-explore:hover,
#btn-quiz:hover {
  color: white;
  text-decoration: none;
  background-color: #a79277; /* Darker green on hover */
}

/* exploration styles */

#all-coffees {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.card {
  border: 1px solid #f8f8f8;
  border-radius: 16px;
  padding: 20px;
  margin: 10px;
  min-width: 300px;
  max-width: calc(33.33% - 50px);
  height: 240px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #f8f8f8;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #f5f3f4;
}

.card img:first-child,
.detailcard img:first-child {
  height: 50px;
  border-radius: 12px;
  margin-left: 50px;
  margin-top: -15px;
}

.card img:last-child,
.detailcard img:last-child {
  height: 100px;
  border-radius: 12px;
  margin-top: 15px;
}

.card h2,
.detailcard h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p,
.detailcard p {
  font-size: 14px;
  line-height: 1.5;
}

#btn-quiz {
  font-size: 20px;
  padding: 20px;
  display: block;
  float: right;
  margin-bottom: 100px;
  margin-right: 80px;
}

#quiz_scoreboard {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: 10px 100px;
  font-size: 28px;
}

#correctCount {
  font-weight: bold;
}

.static-text {
  text-align: center;
}

#all-quizzes {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}
.quizsummarycard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f8f8f8;
  border-radius: 16px;
  padding: 20px;
  margin: 10px 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  transition: transform 0.3s ease-in-out;
}

.quizsummarycard:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #f5f3f4;
}

.quizsummarycard .row:first-child {
  display: flex;
  align-items: right;
  margin-bottom: 16px;
}

.quizsummarycard h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
}

.quizsummarycard .col-5 img {
  height: 32px;
}

.quizsummarycard p {
  font-size: 16px;
  line-height: 1.4;
  color: #666;
  margin: 0;
}

#quiz-summary-button {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.button-quiz {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f8f8f8;
  color: #666;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 22px;
}

.button-quiz:hover {
  background-color: #f5f3f4;
  color: #666;
  text-decoration: none;
}

.detailcard {
  border: 1px solid #f8f8f8;
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 130px 10px;
  min-width: 300px;
  max-width: calc(33.33% - 50px);
  height: 240px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #f8f8f8;
}

.answer-detail {
  margin-top: 40px;
  padding: 15px;
}
.answer-detail .row {
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.answer-detail img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 60px;
}

#description {
  margin-top: 30pt;
}

.resize_img {
  width: 40%;
}

.inline_block {
  display: inline;
}

#description {
  padding: 10px;
}

.centering {
  text-align: center;
}

#question_id {
  font-size: 22pt;
  text-align: center;
  padding-top:20pt;
  padding-left:10pt;
}

#question {
  padding-top: 10pt;
  padding-left:10pt;
  font-size: 18pt;
}

.question_coffee{
  font-weight: bold;
  color:#6f4e37;
}


.page_border {
  border-right: 3px solid #f3f2f2;
}

.ingredient_block {
  display: inline-block;
  text-align: center;
  border-right: 3px solid #f3f2f2;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: -10px;
  margin-bottom:-10pt;
  vertical-align: top;
}

.info_block{
  border: 1px solid #f8f8f8;
  border-radius: 16px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #f8f8f8;
  
}
.coffee_image{
  text-align: center;
  padding-right:10pt;
  padding-left:10pt;

  padding-bottom:5pt;
}
.coffee_name{
  font-size: 20pt;
  font-weight: bold;
  margin-top: -10pt;
}

.coffee_info{
  margin:20pt;
  padding-right:5pt;
  padding-top:30pt;

}

.coffee_info_row{
padding-left: 10pt;
padding-right: 5pt;
padding-top:10pt;
font-size: 13pt;
}


.ingredient_imag {
  width: 70%;
  padding:5pt;
  padding-bottom:5pt;
  margin-bottom:5pt;
}

.ingredient_name {
  font-size: 13pt;
  vertical-align: top;
}

.add_one{
  color:#cea97b;
  font-weight: bold;
}
.cup {
  position: relative;
  width: 280px;
  height: 300px;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  background: #dcdcdc;
}

.handle {
  position: absolute;
  right: -80px;
  top: 40px;
  width: 160px;
  height: 180px;
  border: 25px solid #dcdcdc;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(42deg);
}

.recipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.portion {
  position: absolute;
  width: 100%;
  height: 50%;
}

.portion6 {
  background-color: #dcdcdc;
  top: 4%;
}

.portion5 {
  background-color: #dcdcdc;
  top: 20%;
}

.portion4 {
  background-color: #dcdcdc;
  top: 36%;
}

.portion3 {
  background-color: #dcdcdc;
  top: 52%;
}

.portion2 {
  background-color: #dcdcdc;
  top: 68%;
}

.portion1 {
  background-color: #dcdcdc;
  top: 84%;
}

.main_row {
  text-align: center;
  padding-top: 100pt;
}

.ingredient_container {
  width: 100%; /* Adjust width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
  border-bottom: 3px solid #f3f2f2;
}

.main_button_container {
  position: relative;
  height: 150px;
}

.main_btn {
  position: absolute;
  bottom: 0;
  left: 10;
  background-color: #6f4e37; /* Coffee color hexadecimal code */
  color: white;
  margin-bottom: 50px;
}
#quiz_reset_button {
  margin-bottom: 20px;
}

#quiz_next_button {
  margin-bottom: -80px;
}

#quiz_previous_button {
  margin-bottom: -30px;
}

#quiz_submit_button {
  margin-bottom: -80px;
}

#learn_reset_button {
  margin-bottom: 20px;
}

#learn_submit_button {
  margin-bottom: -80px;
}

#learn_next_button {
  margin-bottom: -80px;
}

#learn_answer img {
  display: block;
  margin: 0 auto;
  padding-top: 30pt;
}

#learn_response_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
}

#learn_response_container img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

#learn_response_container .try-again-text {
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  text-align: center;
}
