body {
  font-family: "Verdana", Geneva, sans-serif; /* Sans-serif font stack */
}

.light-coffee {
  color: #d0bb94;
}

.med-coffee {
  color: #cca677;
}

.dark-coffee {
  color: #6f4e37;
}

/* navbar styles */
.navbar {
  backdrop-filter: blur(5px);
  background-color: #d0bb94;
  padding: 20px 60px;
}

.navbar-line {
  border-bottom: 2px solid #cca677;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: #cca677;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  min-width: 100px;
}

button:hover {
  color: white;
  text-decoration: none;
  background-color: #a79277;
}

/* homepage styles */
.home {
  padding: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home p {
  width: 60%;
  font-style: italic;
}

.home-title {
  font-size: 4em;
  font-weight: bold;
}

.home-image {
  width: 80%;
  height: auto;
  margin: 20px 10px;
}

#btn-explore {
  padding: 20px 30px;
  font-size: 1.8em;
  font-weight: bold;
  margin: 10px 20px;
} 

/* exploration styles */ 
.exploration, 
.btns {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#start-quiz {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

#quiz-label {
  font-size: 1.5em;
  margin: 20px;
}
 
#btn-quiz img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

#all-coffees {
  margin: 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.card,
.detailcard {
  border: 1px solid #f8f8f8;
  border-radius: 16px;
  padding: 20px;
  margin: 10px;
  min-width: 300px;
  max-width: calc(33.33% - 50px);
  height: 240px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #f8f8f8;
}

.card:not(#info):hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #f5f3f4;
}

.card img:first-child,
.detailcard img:first-child {
  height: 50px;
  border-radius: 12px;
  margin-left: 50px;
  margin-top: -15px;
}

.card img:last-child,
.detailcard img:last-child {
  height: 100px;
  border-radius: 12px;
  margin-top: 15px;
}

.card h2,
.detailcard h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p,
.detailcard p {
  font-size: 14px;
  line-height: 1.5;
}

#quiz_scoreboard {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: 10px 100px;
  font-size: 28px;
}

#correctCount {
  font-weight: bold;
}

.static-text {
  text-align: center;
}

#all-quizzes {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.quizsummarycard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f8f8f8;
  border-radius: 16px;
  padding: 20px;
  margin: 10px 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  transition: transform 0.3s ease-in-out;
}

.quizsummarycard:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #f5f3f4;
}

.quizsummarycard .row:first-child {
  display: flex;
  align-items: right;
  margin-bottom: 16px;
}

.quizsummarycard h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
}

.quizsummarycard .col-5 img {
  height: 32px;
}

.quizsummarycard p {
  font-size: 16px;
  line-height: 1.4;
  color: #666;
  margin: 0;
}

#quiz-summary-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

#quiz-summary-button button {
  font-weight: bold;
  font-size: 22px;
  width: 180px;
}

.detailcard {
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 130px 10px;
}

.answer-detail {
  margin-top: 40px;
  padding: 15px;
}

.answer-detail .row {
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.answer-detail img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 60px;
}

#description {
  margin-top: 30pt;
}

.resize_img {
  width: 40%;
}

.inline_block {
  display: inline;
}

#description {
  padding: 10px;
}

.centering {
  text-align: center;
}

#question_id {
  font-size: 22pt;
  padding-top:20pt;
  padding-left:10pt;
}

#question {
  padding-top: 10pt;
  padding-left:10pt;
  font-size: 18pt;
}

.question_coffee {
  font-weight: bold;
  color:#6f4e37;
}

.page_border {
  border-right: 3px solid #f3f2f2;
}

.ingredient_block {
  display: inline-block;
  text-align: center;
  border-right: 3px solid #f3f2f2;
  width: 200px;
  margin: 10px 0px;
  vertical-align: top;
}
.ingredient_block img {
  width: 80px;
  height: 80px;
}
.ingredient_block:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

#info {
  margin-top: -25px;
  margin-left: -10px;
  min-width: 280px;
  height: 220px;
  padding: 12px;
}
#info h2 {
  padding: 2px;
  font-size: 17px;
}
#info p {
  font-size: 12px;
}
#info img:first-child {
  margin-left: 24px;
  margin-top: -5px;
  height: 40px;
  width: auto;
}
#info img:last-child {
  margin-top: 40px;
  padding: 5px;
  height: 80px;
  width: auto;
}

.ingredient_imag {
  width: 70%;
  padding:5pt;
  padding-bottom:5pt;
  margin-bottom:5pt;
}

.ingredient_name {
  font-size: 13pt;
  vertical-align: top;
}

.add_one {
  color:#cea97b;
  font-weight: bold;
}

.cup {
  position: relative;
  width: 280px;
  height: 300px;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  background: #f3f2f2;
}

.handle {
  position: absolute;
  right: -75px;
  top: 40px;
  width: 160px;
  height: 180px;
  border: 25px solid #f3f2f2;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(42deg);
  z-index: -1;
}

.recipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.portion {
  position: absolute;
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f2;
}
.portion6 { top: 4%; }
.portion5 { top: 20%; }
.portion4 { top: 36%; }
.portion3 { top: 52%;}
.portion2 { top: 68%; }
.portion1 { top: 84%; }

.main_row {
  text-align: center;
  padding-top: 80pt;
}

.ingredient_container {
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  border-bottom: 3px solid #f3f2f2;
}
.ingredient_container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.ingredient_container::-webkit-scrollbar:vertical {
  width: 11px;
}
.ingredient_container::-webkit-scrollbar:horizontal {
  height: 11px;
}
.ingredient_container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: #ddd;
}

#learn_answer img {
  display: block;
  margin: 0 auto;
  padding-top: 30pt;
}

#learn_response_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
}

#learn_response_container img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

#learn_response_container .try-again-text {
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  text-align: center;
}
