{% extends "layout.html" %}

{% block content %}

  <div class="home">
    <h1 class="home-title dark-coffee">Coffee Time!</h1>
    <img src="static/images/home_image.png" alt="Coffee Image" class="home-image">
    <p>Ever ventured into a café or coffee shop and felt a bit overwhelmed by the drink options? Let's journey together through the realm of popular coffee beverages and their recipes. Together, we can get familiar with these drinks and stay current with coffee trends. Ready to dive in?</p>
    <button id="btn-explore" onclick="window.location.href='/exploration'">Begin Exploration</button>
  </div>

{% endblock %}