{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='learn.js') }}"
></script>

<script>
  let coffee = {{coffee|tojson}}
  console.log(coffee)
</script>

<body>
  <div class="container-fluid" style="width: 90%;padding-top:20px;">
    <div class="row">
      <div class="col-md-3 main_col_3 page_border">
        <div class="row" id="description"></div>
      </div>

      <div class="col-md-9 main_col_9">
        <div class="ingredient_container">
          <div class="row">
            <div class="scrollable-content">
              <div class="ingredient_block" onclick="selectIngredient('milk')">
                <a class="ingredient_name"> Milk<span class="add_one"> + 1</span> </a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="../static/images/milk.png" />
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('milk foam')">
                <a class="ingredient_name">Milk foam <span class="add_one"> + 1</span></a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="../static/images/milk_foam.png" />
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('espresso')">
                <a class="ingredient_name">Espresso <span class="add_one"> + 1</span></a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="../static/images/espresso_icon.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('water')">
                <a class="ingredient_name">Water <span class="add_one"> + 1</span></a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="../static/images/water.png" />
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('whiskey')">
                <a class="ingredient_name">Whiskey <span class="add_one"> + 1</span></a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="../static/images/whiskey.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('hot chocolate')">
                <a class="ingredient_name">Hot chocolate <span class="add_one"> + 1</span></a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="../static/images/chocolate.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('whipped cream')">
              <a class="ingredient_name">Whipped cream <span class="add_one"> + 1</span></a>
              <div class="ingredient_image">
                <img class="ingredient_imag" src="../static/images/whipped_cream.png"/>
              </div>
            </div>

              <div class="ingredient_block" onclick="selectIngredient('ice cream')">
                <a class="ingredient_name">Ice cream <span class="add_one"> + 1</span></a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="../static/images/ice_cream.png"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row main_row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="cup" id="user_cup">
              <div class="recipe">
                <div class="portion portion6"></div>
                <div class="portion portion5"></div>
                <div class="portion portion4"></div>
                <div class="portion portion3"></div>
                <div class="portion portion2"></div>
                <div class="portion portion1"></div>
              </div>
              <div class="handle"></div>
            </div>
          </div>
          <div class="col-md-3 btns">
            <div id="learn_response_container"></div>
            <button id="learn_reset_button">Empty Cup</button>
            <button id="learn_submit_button">Submit</button>
            <button id="learn_next_button" onclick="window.location.href='/exploration'">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
