{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz_main.js') }}"
></script>

<script>
  let quiz = {{quiz|tojson}}
  console.log(quiz)
  let quiz_id = {{quiz_id|tojson}}
  console.log(quiz_id)
</script>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3 main_col_3 page_border">
        <div class="row" id="description"></div>
      </div>

      <div class="col-md-9 main_col_9">
        <div class="ingredient_container">
          <div class="row">
            <div class="scrollable-content">
              <div class="ingredient_block" onclick="selectIngredient('milk')">
                <a class="ingredient_name">Milk + 1</a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="static/images/milk.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('milk foam')">
                <a class="ingredient_name">Milk Foam + 1</a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="static/images/foam.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('espresso')">
                <a class="ingredient_name">Espresso + 1</a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="static/images/espresso_icon.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('water')">
                <a class="ingredient_name">Water + 1</a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="static/images/water.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('whiskey')">
                <a class="ingredient_name">Whiskey + 1</a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="static/images/whiskey.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('hot chocolate')">
                <a class="ingredient_name">Hot chocolate + 1</a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="static/images/chocolate.png"/>
                </div>
              </div>

              <div class="ingredient_block" onclick="selectIngredient('ice cream')" >
                <a class="ingredient_name">Ice cream + 1</a>
                <div class="ingredient_image">
                  <img class="ingredient_imag" src="static/images/ice_cream.png"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row main_row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="cup"> 
              <div class="recipe">
                <div class="portion portion6"></div>
                <div class="portion portion5"></div>
                <div class="portion portion4"></div>
                <div class="portion portion3"></div>
                <div class="portion portion2"></div>
                <div class="portion portion1"></div>
              </div>
              <div class="handle"></div>
            </div>
          </div>
          <div class="col-md-3 main_button_container" id="main_button_container">
            <button id="quiz_previous_button" class="btn btn-primary main_btn">
              Previous
            </button>
            <button id="quiz_next_button" class="btn btn-primary main_btn">
              Next
            </button>
            <button id="quiz_submit_button" class="btn btn-primary main_btn">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
